@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>

<html>
<head>
    <title>Error</title>
</head>
<body>

    <h2>Uh oh we have an error:</h2>
    <h1> <i>@ViewBag.Message </i></h1>
</body>
</html>